body {

  background-color: #add8e6;

nav {
  font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-style: normal;
  max-width: 3000px;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.1rem;
  align-content: center;
}

h1 {
  font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
      color: #6F263D;
  max-width: 3000px;
  text-align: center;
  margin: auto;
  font-size: 6rem;
  border-radius: 0.3rem;
  align-content: center;
}

p {
  font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
      color: #0C2340;
  max-width: 3000px;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.1rem;
  align-content: center;
}

h2 {
  font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
      color: #6F263D;
  max-width: 3000px;
  text-align: center;
  margin: auto;
  font-size: 4rem;
  border-radius: 0.3rem;
  align-content: center;
}

ul {
  font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
      color: #0C2340;
  max-width: 3000px;
  text-align: center;
  list-style-position: inside;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.1rem;
  align-content: center;
}

a {
  font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-style: normal;
  max-width: 3000px;
  color: #0C2340;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.1rem;
  align-content: center;
}

.picture-centered-text {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
}

.picture-centered-text p {
  margin: auto;
  font-size: 1rem;
  padding: 3rem;
  
}

.picture-centered-text a {
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
   margin: 20px;
}

.picture-centered-text a img {

  margin: auto;
  max-width: 600px;
  
  

}


}